.generalpagenext {
    /* background-image: url('../Images/map1.png'); */
    width: auto;
    height: auto;
    padding: 1px;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}


.generallanding {
    /* background-image: url('../Images/map1.png'); */
    background-repeat: no-repeat ;
    background-size:  100%;
    width: 1450px;;
    height:850px;
}


.pagebutton {
    /* background: transparent; */
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    /* text-align: center;
    display: inline-block;
    position: absolute;
    top: 450px;
    left: 650px; */
    font-size: medium;
}
.pagebutton:hover {
    background-color: white;
    color: rgb(83, 81, 81);
}