.buttoncountry{
    background: transparent;
    border-radius: 8px;
    border: 1px solid white;
    color:  #d3a409ea;
    text-align: center;
   
   
    font-size: x-small;
}
.buttoncountry:hover {
    background-color: rgb(199, 9, 9);
    color: rgb(247, 246, 246);
}

.generalcreation {
    /* background-image: url('../Image/kitchen2.jpeg'); */
    background-image: url('../Images/map1.png');
    background-size:  100%;
    width: 1370px;
    height: 1300px;
    position: relative;
    color: #d3a409ea;
    
}
.errors {
    color:rgb(255, 255, 255)
}
/* .detailimg2{
    
    color: white;
    width: 150px;
    height: 100px;
    
    
    } */
.containercreation {
    /* background-image: url('../Image/kitchen2.jpeg'); */
    top: 20px;
    left: 550px;
    width: 300px;
    height: auto;
    position: relative;
    color: #d3a409ea;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    
}

/* .foods {
    width: 50px;
} */
.bar {
background-color: grey;
color: white;
display: flex;
width: 100%;
height: 40px;
justify-content: space-between;
align-items: center;
}


.buttonhomed {
    background: transparent;
    border-radius: 8px;
    border: 2px solid white;
    color:  #d3a409ea;
    text-align: center;
   
   
    font-size: medium;
}
.buttonhomed:hover {
    background-color: white;
    color: rgb(83, 81, 81);
}
.buttonsubmit {
    /* background: transparent; */
    border-radius: 8px;
    border: 2px solid white;
    color:  #575654ea;
    text-align: center;
   
   
    font-size: medium;
}
.buttonsubmit:hover {
    background-color: white;
    color: rgb(83, 81, 81);
}